.Material{
    min-width: 1000px;
    height: 600px;
    overflow: scroll;
}

.videotut{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 20px;
    padding: 10px;
    text-align: left;
}
.divflex{
    overflow-x: scroll;
    display: flex;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}
.divflex div{
    margin: 10px;
}
.divflex2{
    display: flex;
    flex-direction: column;
}
@media (max-width: 650px)  {
    .videotut{
        width: 600px;
    }
    .eachassi{
        width: 600px;
    }
   
}