.side-bar{
    width: 250px;
    height:606px;
    background-color:#34495e;
    padding: 40px;
    
    margin: 25px;
    margin-left: 0px;
    margin-top: -19px;
    display: flex;
    flex-direction: column;
    box-shadow: #d3d3d6 3px 1px 1px 1px;
    text-align: left;
}
.class{
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin-left: -20px;
    margin-bottom:8px;
    font-size: 20px;
    width:200px;
    box-sizing: border-box;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid black;
    transition: .4s;
}  

.class:hover{
    transform: scale(1.1);
    transition: 3s;
    color: #ffffff;
}
.Dashboard{
    overflow: auto;
    overflow-y: auto;
    margin-bottom: 30px;
}
.side-bar div{
    padding: 10px;
    color: black;
}
.page{
    display: flex;
}
.studenthome{
    padding: 20px;
    display: block;
    text-align: left;
    text-align: justify;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    height: 350px;
    width: 1060px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url(vector1copy.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.studenthome ul {
    list-style:circle;
    margin-left: 40px;
}
.studenthome h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 30px;
    font-style: normal;
}
.studenthome p{
    font-size: 15px;
    color: black;
}
.welcome{
    margin-left: 87%;
    height: 25px;
    border-radius: 7px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: black;
    color: #ffffff;
    width: 130px;
}
#profile {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #3c4043;
    margin-top: -20px;
    
  }
  
  .profile-general-info {
    font-size: 0.88rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
    border-radius: 6px;
    background-color: #164368;
    width: 300px;
  }
  .pichome{
    margin:0;
    height: 50px;
    padding: 0;
  }
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  .avatarhome{
   
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    margin-bottom: -30px;
  }
  #protext{
    height: 37px;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  #protext #text{
    margin-left: 5px;
  }
  .menu{
    display: none;
  }
  @media (max-width: 650px)  {
    .page{
      display: flex;
      flex-direction: column;
    }
    
   .side-bar{
    display: none;
    
   }
    .menu{
      background-color:#34495e;
      display: flex;
      flex-direction: column;
     width: 210px;
    margin-left: 0px;
    margin-bottom: 10px;
    }
    #menuicon{
      background-color: #ffffff;
      text-align: left;
      padding-left: 10px;
    }
    .class{
      margin-left: 10px;
    }
  }
/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}
.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}